@import "imports";

body.home {
  .hero {
    background: $black image-url("hero.png") no-repeat left top;
    background-size: cover;
    min-height: 500px;
    padding: 75px;
    text-align: center;

    .container {
      @include outer-container;

      h1 {
        @include shift(3);
        @include span-columns(6);
        @include omega;

        font-size: 50px;

        span.problem {
          text-decoration: underline;
        }
      }

      p {
        @include shift(2);
        @include span-columns(8);
        @include omega;

        font-size: 22px;
        line-height: 44px;
        text-align: left;
      }
    }
  }

  main {
    @include outer-container;

    padding: 2em 1em;

    section.sign-up {
      @include shift(2);
      @include span-columns(8);
      @include omega;

      margin-bottom: 75px;
      margin-top: 50px;
      text-align: center;

      #mc_embed_signup {
        @include span-columns(12);
        @include omega;

        input[type=email] {
          color: $gray;
          display: inline-block;
          margin: 0;
          width: 70%;
        }

        input[type=submit] {
          display: inline-block;
          margin-left: -5px;
          width: 20%;
        }

        input {
          border-radius: 0;
          box-shadow: none;
          padding: 12px;
        }
      }
    }

    section.starter-kit {
      @include outer-container;
      @include shift(2);
      @include span-columns(8);
      @include omega;

      ul {
        @include span-columns(6);
      }

      .box {
        @include span-columns(6);
        @include omega;
      }
    }
  }

  .email {
    display: inline-block;
    min-width: 220px;
    width: auto;
  }

  .button {
    @include button;
    position: relative;
    top: -2px;
  }
}
