@import "imports";

body.home.index {
  .hero {
    background: $black image-url("hero.png") no-repeat left top;
    background-size: cover;
    text-align: center;

    .overlay {
      background-color: rgba(0, 0, 0, 0.05);
      min-height: 500px;
      padding: 75px 0;
    }

    .container {
      @include outer-container;

      h1 {
        @include span-columns(6);
        @include omega;

        font-size: 50px;

        @include media($desktop, $tablet) {
          @include shift(3);
        }

        @include media($mobile) {
          @include span-columns(4);
          @include omega;

          font-size: 30px;
        }

        span.problem {
          text-decoration: underline;
        }
      }

      p {
        @include span-columns(8);
        @include omega;

        @include media($desktop, $tablet) {
          @include shift(2);
        }

        @include media($mobile) {
          @include span-columns(4);

          padding: 20px;
        }

        font-size: 22px;
        line-height: 44px;
        text-align: left;
      }
    }
  }

  main {
    @include outer-container;

    padding: 2em 1em;

    section.sign-up {
      @include span-columns(8);
      @include omega;

      @include media($desktop, $tablet) {
        @include shift(2);
      }

      @include media($mobile) {
        @include span-columns(4);
      }

      margin-bottom: 75px;
      margin-top: 50px;
      text-align: center;

      #mc_embed_signup {
        @include span-columns(12);
        @include omega;

        input[type=email] {
          color: $gray;
          display: inline-block;
          margin: 0;
          width: 70%;

          @include media($mobile) {
            width: 60%;
          }

          @include media($tablet) {
            width: 60%;
          }
        }

        input[type=submit] {
          display: inline-block;
          margin-left: -5px;
          width: 20%;

          @include media($mobile) {
            width: 30%;
          }

          @include media($tablet) {
            width: 30%;
          }
        }

        input {
          border-radius: 0;
          box-shadow: none;
          padding: 12px;
        }
      }
    }

    section.starter-kit {
      @include outer-container;
      @include shift(2);
      @include span-columns(8);
      @include omega;

      @include media($mobile) {
        @include shift(0);
        @include span-columns(4);
      }

      ul {
        @include span-columns(6);

        @include media($mobile) {
          width: 100%;
        }
      }

      .box {
        @include span-columns(6);

        @include media($mobile) {
          @include span-columns(2);
          @include shift(1);
        }
      }
    }
  }

  .email {
    display: inline-block;
    min-width: 220px;
    width: auto;
  }

  .button {
    @include button;
    position: relative;
    top: -2px;
  }
}
