@import "imports";

body.home-layout.home section.feature {
  @include outer-container;
  margin: 2em auto 3em;
  padding: 0 10px;
}

body.home-layout.home .feature-text {
  color: #555;
  float: left;
  margin: 70px 0 0 60px;
  text-align: center;
  width: 608px;

  h3 {
    font-size: 40px;

    &:after {
      content: " ";
      border-bottom: 1px solid #ccc;
      display: block;
      margin: 20px auto;
      width: 50%;
    }
  }

  p {
    color: #777;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 2.2em;
    margin: 10px auto;
  }
}

body.home-layout.home .browser {
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #ccc;
  display: block;
  float: left;
  height: 250px;
  margin: 40px auto;
  width: 400px;

  .navigation {
    text-align: center;
  }

  .window-buttons {
    display: block;
    float: left;
    list-style-type: none;
    margin: 10px;
    padding: 0;

    li {
      background-color: #fff;
      border: 1px solid darken(#fff, 5%);
      border-radius: 5px;
      display: block;
      float: left;
      height: 10px;
      margin-right: 5px;
      width: 10px;
    }

    li:nth-of-type(1) {
      background-color: #fc635d;
      border-color: darken(#fc635d, 5%);

      &:hover {
        border: 1px solid darken(#fc635d, 25%);
      }
    }

    li:nth-of-type(2) {
      background-color: #fdbe41;
      border-color: darken(#fdbe41, 5%);

      &:hover {
        border: 1px solid darken(#fdbe41, 18%);
      }
    }

    li:nth-of-type(3) {
      background-color: #35cd4b;
      border-color: darken(#35cd4b, 5%);

      &:hover {
        border: 1px solid darken(#35cd4b, 15%);
      }
    }
  }
}

body.home-layout.home .browser {
  .address-bar {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px #ddd;
    color: #bbb;
    display: block;
    font-size: 11px;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0 auto;
    padding: 1px 4px;
    position: relative;
    top: 6px;
    width: 200px;
  }

  hr {
    margin: 14px 0 0;
  }
}

body.home-layout.home .browser {
  .page {
    background-color: #fff;
    display: block;
    height: 206px;
    margin: 0 auto;
    width: 99%;
  }

  .page + hr {
    margin: 0;
  }
}

body.home-layout.home .browser .page {
  padding: 10px;

  ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
  }

  li {
    background-color: rgba(#eee, 0.8);;
    display: block;
    height: 12px;
    left: 80px;
    margin: 10px 0 45px;
    position: relative;
    top: 20px;
    width: 70%;

    &:before {
      background-color: rgba(#ddd, 0.8);
      content: " ";
      display: block;
      height: 8px;
      position: relative;
      top: -12px;
      width: 70%;
    }

    &:after {
      background-color: rgba(adjust-hue($base-accent-color, 10deg), 0.3);
      border-radius: 18px;
      content: " ";
      height: 30px;
      left: -40px;
      position: absolute;
      top: -15px;
      width: 30px;
    }

    &:nth-of-type(2):after {
      background-color: rgba(adjust-hue($base-accent-color, 120deg), 0.3);
    }

    &:nth-of-type(3):after {
      background-color: rgba(adjust-hue($base-accent-color, 270deg), 0.3);
    }
  }
}
