@import "imports";

body.home.pricing main .outer-container {
  @include outer-container;
}

body.home.pricing section {
  @include clearfix;
  padding: 0 10px 2em;

  &.single-user {
    border-bottom: 1px solid $base-border-color;
  }
}

body.home.pricing main h2 {
  color: $base-accent-color;
  font-family: 'Questrial', sans-serif;
  font-size: 22px;
  margin: 30px 0 33px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #fff;
}

body.home.pricing div.subscription-plan {
  @include span-columns(4);
  @include transform(translate3d(0, 0, 0));
  @include transition(transform 0.2s ease);
  @include transform-style(preserve-3d);

  &:nth-of-type(3n) {
    @include omega;
  }

  &:hover {
    @include transform(scale3d(1.1, 1.1, 1.0));
  }

  .sign-up {
    display: block;
  }

  .no-credit-card {
    display: block;
  }
}
