<% if provider %>
  <%= link_to subscriber_omni_auth_provider_path(id: provider.id),
              method: :delete,
              class: "button provider disconnect",
              data: { confirm: "Are you sure you want to disconnect this account?" } do %>
    <%= image_tag "omni_auth_providers/#{provider_name}.png" %>
    <span>Connected</span>
  <% end %>
<% else %>
  <%= link_to user_omniauth_authorize_path(provider_name), class: "button provider connect" do %>
    <%= image_tag "omni_auth_providers/#{provider_name}.png" %>
    <span>Connect</span>
  <% end %>
<% end %>
