<div class="title">
  <h1>Connected Services</h1>
</div>

<div class="outer-container">
  <%= render partial: "#{params[:resource_name]}/sidebar" %>

  <div class="page">
    <% User.omniauth_providers.each do |provider_name| %>
      <% provider = @subscriber.omni_auth_providers.where(name: provider_name).first %>
      <%= render partial: "omni_auth_provider", locals: { provider: provider, provider_name: provider_name } %>
    <% end %>
  </div>
</div>
