@import "imports";

body.subscriptions.new {
  text-align: center;

  .subscription-plan {
    font-size: 0.8em;
    overflow: hidden;
    position: relative;
    @include span-columns(4);
    @include transform(translate3d(0, 0, 0));
    @include transition(transform 0.2s ease);
    @include transform-style(preserve-3d);

    &:nth-of-type(3n) {
      @include omega;
    }

    &:hover {
      @include transform(scale3d(1.1, 1.1, 1.0));
    }
  }

  p.message {
    clear: both;
  }

  input[type="submit"]:disabled {
    opacity: 0.3;

    &:hover {
      @include transform(none);
    }
  }
}
