<div class="monthly-kits">
  <h2>What shows up each month?</h2>

  <ul>
    <li>Pre-measured ingredients</li>
    <li>Easy to follow, step-by-step instructions</li>
    <li>Sanitizer</li>
    <li>More bottle caps!</li>
  </ul>
</div>
