<div id="starter-kit" class="in-the-box">
  <h2>What’s in the Starter Kit?</h2>

  <p>
    If you’ve never attempted brewing beer before, our starter kit is for you.
    We include everything you need to start brewing beer. Even the bottles!
  </p>

  <ul>
    <li>1 gallon glass fermentation jug with stopper</li>
    <li>Airlock</li>
    <li>Thermometer strip</li>
    <li>(12) 12oz bottles with caps</li>
    <li>Bottle capper</li>
    <li>Brew bag</li>
    <li>Funnel</li>
    <li>Racking cane with siphon hose</li>
    <li>Large faced bi-metal thermometer</li>
    <li>Blow off hose</li>
    <li>(2) Cleaning brushes</li>
  </ul>
</div>
