<div class="title">
  <h1>Features</h1>
</div>

<section class="feature">
  <div class="browser">
    <div class="navigation">
      <ul class="window-buttons">
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="address-bar">
        <%= request.original_url %>
      </div>
    </div>
    <hr>
    <div class="page">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <hr>
  </div>
  <div class="feature-text">
    <h3>Some Awesome Feature</h3>
    <p>
      You will love how easy it is to sign up and pay money with a
      credit card. You can even sign up additional users and pay more money!
    </p>
  </div>
</section>
