@import "imports";

header {
  border-bottom: 2px solid $white;
  padding: 20px;

  .container {
    @include outer-container;

    .logo {
      max-width: 345px;

      @include media($mobile) {
        margin-left: auto;
        margin-right: auto;
      }

      @include media($tablet) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
