@import "imports";

body.home-layout.home.index header {
  background-color: $header-background-color;
  text-align: center;

  nav {
    @include clearfix;
    display: block;
    width: 100%;
  }

  ul.features {
    float: left;
  }

  ul.account {
    float: right;
  }

  li.divider {
    display: none;
  }

  .logo {
    clear: both;
    display: block;
    padding: 15px 20px 0;
    margin-bottom: 20px;
  }

  h1 {
    display: block;
    font-family: 'Questrial', sans-serif;
    font-size: 45px;
    font-weight: normal;
    letter-spacing: 10px;
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;

    i {
      display: block;
      font-size: 60px;
      margin-bottom: 4px;
    }
  }

  h2 {
    color: rgba(#fff, 0.9);
    font-size: 14px;
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 5px;
  }
}
