<footer>
  <div class="outer-container">
    <div class="branding">
      <%= link_to root_path do %>
        <i class="fa fa-cube"></i>
        <%= site_title %>
      <% end %>
    </div>
    <nav>
      <ul>
        <li><%= link_to "Terms of Service", terms_path %></li>
        <li><%= link_to "Privacy Policy", privacy_path %></li>
      </ul>
    </nav>
  </div>
</footer>
