<header>
  <div class="outer-container">
    <div class="branding">
      <%= link_to root_path do %>
        <i class="fa fa-cube"></i>
      <% end %>
    </div>
    <nav>
      <ul>
        <li class="user">
          <%= link_to edit_user_path(current_user), title: "Account Settings" do %>
            <span><%= current_user.display_name %></span>
            <i class="fa fa-cog"></i>
          <% end %>
          <%= link_to destroy_user_session_path, title: "Sign Out", class: "sign-out", method: :delete do %>
            <i class="fa fa-sign-out"></i>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
