<table>
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @contact_message.name %></td>
  </tr>
  <tr>
    <td><strong>Email:</strong></td>
    <td><%= @contact_message.email %></td>
  </tr>
  <tr>
    <td><strong>Phone:</strong></td>
    <td><%= @contact_message.phone_number %></td>
  </tr>
  <tr>
    <td><strong>Message:</strong></td>
    <td><%= @contact_message.message %></td>
  </tr>
</table>
