@import "imports";

main {
  .outer-container {
    @include outer-container;
    padding: 0 10px;
  }

  .sidebar {
    @include span-columns(3);
    padding: 2.5em 0;
  }

  .page {
    @include span-columns(9);
    @include omega;
    padding-top: 2.5em;

    & > fieldset:first-child {
      position: relative;
      top: -1em;
    }
  }
}

.sidebar {
  @include vertical-navigation;
}

main {
  fieldset > div.submit {
    margin-bottom: 0.4em;
  }

  legend {
    color: lighten($base-font-color, 10%);
    font-family: 'Ovo', serif;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 1px;
  }
}
