@import "imports";

body.organization-memberships.edit main {
  .user-name,
  .user-email,
  .user-role {
    color: lighten($base-font-color, 25%);
    display: block;
    margin-bottom: 1.5em;
  }
}
