@import "imports";

body.home-layout {
  background-color: #f2f2f2;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Ovo', serif;
    font-weight: 300;
  }

  main {
    @include clearfix;
    background-color: #fbfbfb;
    font-family: 'Questrial', sans-serif;
  }

  label {
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
  }

  .button,
  button,
  input[type="submit"] {
    font-family: 'Questrial', sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
  }
}
